{% extends "store/main.html"%}

{% block title%}
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<script type="text/javascript">
	document.getElementById('cart-icon').classList.add('hidden');
	document.getElementById('cart-total').classList.add('hidden');
</script>
	<div class="content-section">
		<form method="POST" class="form-group">
			{% csrf_token %}
			{{form|crispy}}
			<p>Don't have an account? Create one <a href="/register">here</a></p>
			<button type="submit" class="btn btn-success">Login</button>
		</form>
	</div>
{% endblock %}